@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .fadeIn {
    animation: fadeInAnimation 2s;
  }
  
  @keyframes fadeInAnimation {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

}